<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Pedido a proveedores</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-row>
      <ion-col col-6>
        <ion-toggle [(ngModel)]="toggle01" (ionChange)="toggleTwo()"></ion-toggle>
      </ion-col>
      <ion-col col-4>
        Nuevos Pedidos
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-toggle [(ngModel)]="toggle02" (ionChange)="toggleOne()"></ion-toggle>
      </ion-col>
      <ion-col col-4>
        Pedidos en camino
      </ion-col>
    </ion-row>

  </ion-card>
  <ion-card>

    <ion-content text-center style="background-color:#ddd;  position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;">
      <ion-scroll>
        <ion-item color="gray">
          <ion-row>
            <ion-col>Fecha</ion-col>
            <ion-col>Pedido</ion-col>
            <ion-col>Proveedor</ion-col>
          </ion-row>
        </ion-item>
        <ion-item color="primary" *ngFor="let pedido of pedidosViewModel">
          <ion-row>
            <ion-col>{{pedido.fechaPedido}}</ion-col>
            <ion-col>{{pedido.numeroPedido}}</ion-col>
            <ion-col>{{pedido.nombreProveedor}}</ion-col>
          </ion-row>
        </ion-item>
      </ion-scroll>
    </ion-content>
    <!--<ion-grid>
      <ion-row > 
        <ion-col *ngFor="let pedido of pedidosViewModel" (ionChange)="onPedidoChange($event)">
          <ion-card>
            <ion-card-header>{{pedido.titulo}}</ion-card-header>
            <ion-card-content>{{pedido.}}</ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>-->
  </ion-card>

</ion-content>
