page-lista-pedido-comercio {

  ion-scroll {
    height: 70vh !important;
  }

  .hide {
    display: none;

  }

  p {
    text-align: center;
    font-size: 30px;
    color: gray;
  }

  ion-grid {
    background-color: #f8f8f8;
  }
}
