page-lista-publicidad {
    ion-scroll {
        height: 80vh;
        }
        .p {
            text-overflow: unset;
            white-space: unset;
         }
    .nueva-img{
        width: 50px !important;
        height: 50px !important;
    }
    p{
        text-align: center;
        font-size: 30px;
        color: gray;
    }
}
