<ion-menu [content]="content" side="left" type="overlay">
  <ion-header>
    <ion-toolbar>
      <h3>Red Bitbi</h3>
      <p text-center >{{nombreComercio}} (<span>{{rubroComercio}}</span>)</p>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list inset *ngFor="let p of pages">
        <button ion-item menuClose (click)="openPage(p)">
          {{ p.title }}
          <ion-avatar class="base" item-end *ngIf="p.src">
            <img src="{{p.src}}">
          </ion-avatar>
        </button>
    </ion-list>

  </ion-content>

</ion-menu>

<ion-nav #content [root]="rootPage" swipeBackEnabled="false"></ion-nav>
