// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (primary: #063079,
secondary: #0fbd43,
danger: #f53d3d,
light: #f4f4f4,
dark: #222);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

ion-icon {
  color: rgb(238, 231, 218);
}

.item-button {
  padding: 15px !important;
  height: 40px !important;
}

.cerrar {
  height: 25px;
  background-color: transparent;
  color: red;
}

.cerrar ion-icon {
  color: red;
}

ion-card-header{
  background-color:  #063079 !important;
  color: #f4f4f4 !important;
  border-radius: 9px !important;
  padding: 5px 5px 5px 5px !important;
}
ion-card-header h3{
 
  font-size: 14px !important;
  
}

.noContent {
  div {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    text-align: center;
    font-size: 30px;
    margin: 5,5,5,5;
  }

  p{
    
   
    color: #222 !important;
    opacity: 1 !important;
    margin-top: 1px !important;
    margin-bottom: 1px !important;
    text-align: center !important;
    font-size: 20px !important;
    color: gray !important; 
  }
}
  .tituloTotal{
    //background-color: #2e66c9 !important;
    text-align: center !important;
    color: rgb(13, 8, 94) !important;
    font-size: 16px !important;
    
    background: rgba(179,220,237,1) !important;
    background: -moz-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%) !important;
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(179,220,237,1)), color-stop(50%, rgba(41,184,229,1)), color-stop(100%, rgba(188,224,238,1))) !important;
    background: -webkit-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%) !important;
    background: -o-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%) !important;
    background: -ms-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%) !important;
    background: linear-gradient(to right, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee', GradientType=1 ) !important;
  border-radius: 10px 10px 10px 10px !important;
  -moz-border-radius: 10px 10px 10px 10px !important;
  -webkit-border-radius: 10px 10px 10px 10px !important;
  border: 1px solid #000000 !important;
  
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  }

 