// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (primary: #58657c,
secondary: #0fbd43,
danger: #f53d3d,
light: #f4f4f4,
dark: #222);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

ion-icon {
  color: rgb(238, 231, 218);
}

.item-button {
  padding: 15px !important;
  height: 40px !important;
}

.cerrar {
  height: 25px;
  background-color: transparent;
  color: red;
}

.cerrar ion-icon {
  color: red;
}

.ion-card-header {
  background-color: #063079 !important;
  color: #f4f4f4 !important;
  border-radius: 9px !important;
  padding: 5px 5px 5px 5px !important;
}

.ion-card-header h3 {

  font-size: 14px !important;

}

.segment-button{
  background-color:rgb(6, 48, 121) !important; 
  color: #fff !important;
}

.noContent {
  div {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    text-align: center;
    font-size: 30px;
    margin: 5, 5, 5, 5;
  }

  p {


    color: #222 !important;
    opacity: 1 !important;
    margin-top: 1px !important;
    margin-bottom: 1px !important;
    text-align: center !important;
    font-size: 20px !important;
    color: gray !important;
  }
  div {
    margin-left: auto  !important;
    margin-right: auto  !important;
}
h3{
    margin: 5,5,5,5;
    color: white;
}

 
.nuevo-div{
  background-color: rgb(250, 218, 218);
}
.nuevo-ion-item{
  padding: 0.5px 7px 0.5px 5px ;
}

}
