
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    
  </ion-navbar>
</ion-header>


<ion-content>
<ion-card>
  <ion-card-header text-center><span ><strong>Paso 1: Elija Proveedor</strong></span></ion-card-header>
  <ion-item>
    
  <!--  <ion-select type="text"  (ionChange)="mostrarProductosModal($event)" class="custom-control custom-select custom-control-inline form-control-sm w-100" interface="popover">
        <ion-option *ngFor="let fProv of proveedoresViewModel" [value]="fProv.entidad._id" >{{fProv.entidad.razonSocial}}</ion-option>
    </ion-select>-->
</ion-item>
</ion-card>

<ion-card>
  <ion-card-header>
      Proveedores
  </ion-card-header>   
    <ion-list *ngFor="let fProv of proveedoresViewModel; let i=index">
      <ion-item (click)="mostrarProductosModal(fProv)">
          <ion-avatar item-start>
              <img src="../../../../assets/icon/camion.png">
            </ion-avatar>       
          <h2>{{fProv.entidad.razonSocial.charAt(0).toUpperCase() + fProv.entidad.razonSocial.substr(1).toLowerCase() }}</h2>
      </ion-item> 
    </ion-list>
</ion-card>
  
</ion-content>
