
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Lista de Proveedores</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
<ion-card>
  <ion-card-header>Seleccione al Proveedor</ion-card-header>
  <ion-item>
    <ion-label floating>Proveedor</ion-label>
    <ion-select type="text" (ionChange)="mostrarProductosModal($event)" class="custom-control custom-select custom-control-inline form-control-sm w-100" interface="popover">
        <ion-option *ngFor="let fProv of proveedoresViewModel" [value]="fProv.entidad._id">{{fProv.entidad.razonSocial}}</ion-option>
    </ion-select>
</ion-item>
</ion-card>
  <!--<ion-list>
    <ion-item-sliding *ngFor="let proveedor of proveedoresViewModel; let i=index">
      <ion-item>
          <ion-icon name="person" item-start></ion-icon>
          <h2>{{proveedor.entidad.razonSocial}}</h2>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="borrarProveedor(i)">
          <ion-icon name="trash"> Borrar</ion-icon>
        </button>
      </ion-item-options>
      <ion-item-options side="left">
        <button ion-button color="success" (click)="mostrarProductosModal(proveedor)">
          <ion-icon name="add-circle"> Productos</ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list> -->
</ion-content>
