<ion-header>

</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      Paso 2: Elija productos de {{nombreProveedor}}.
    </ion-card-header>
    <ion-card>
      <ion-item>
        <ion-icon name="logo-usd" item-start></ion-icon>
        {{totalPedido}}
       
      </ion-item>
      <ion-item>
        <ion-icon name="cart" item-start></ion-icon>
        {{contadorCarrito}}
       
      </ion-item>
    </ion-card>
    
      <ion-searchbar placeholder="Buscar" animated (ionInput)="buscarCateSubCat($event)"></ion-searchbar>
    
    <ion-card>
      <ion-item>
        <ion-label floating>Categoria</ion-label>
        <ion-select [(ngModel)]="categoria" type="text" class="custom-control custom-select custom-control-inline form-control-sm w-100"
          interface="popover">
          <ion-option *ngFor="let categoria of arrayCategorias" [value]="categoria" (ionSelect)="onCategoriasChange(categoria)">{{categoria}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label floating>Sub-Categoria</ion-label>
        <ion-select [(ngModel)]="itemSubcategoriaSelected" type="text" class="custom-control custom-select custom-control-inline form-control-sm w-100"
          interface="popover">
          <ion-option *ngFor="let subcategoria of arraySubcategorias" [value]="subcategoria" [disabled]="!isEnabledSubCategoria"
            [value]="+(subcategoria)" [selected]="itemSubcategoriaSelected" (ionSelect)="onSubCategoriasChange(subcategoria)">{{subcategoria}}</ion-option>
        </ion-select>
      </ion-item>

    </ion-card>
  </ion-card>
  <ion-card *ngIf="showListProducto">
    <ion-card-header>
      Productos
    </ion-card-header>

    <ion-scroll scrollY="true">
      <ion-list *ngFor="let item of arrayProductos;">
        <ion-item>
          <ion-avatar item-end>
            <button ion-button small (click)='seleccionarProducto(item)'>
              <ion-icon name="cart"></ion-icon>
            </button>
          </ion-avatar>

          <h2>{{item.nombreProducto}}</h2>
          <ion-item-divider></ion-item-divider>
        </ion-item>

      </ion-list>
    </ion-scroll>
  </ion-card>

  <ion-card>
    <ion-item>
      <button ion-button round color="danger" (click)='volver()' item-first style="width:150px;">
        <ion-icon>Cancelar</ion-icon>
      </button>
      <button ion-button round (click)='pedirProducto()' item-end style="width:150px;">
        <ion-icon name="cart"> Ver Pedido</ion-icon>
      </button>
    </ion-item>

  </ion-card>
</ion-content>
<!--<ion-content>
    <ion-card>
        <ion-list>
          <button ion-item *ngFor="let item of arrayCategorias" (click)="openSubcategoriasPage(item)" icon-start>
            <ion-icon name="arrow-back" item-start></ion-icon>
            {{ item }}
          </button>
        </ion-list>
      </ion-card>
      <ion-card>
        <button ion-button color="secondary" clear (click)='volver()'>Cancelar</button>
      </ion-card>
  
</ion-content>-->
