page-home {
    /*ion-icon {
        font-size: 20px; //Preferred size here
    }
    ion-scroll {
        height: 30vh;
        }
  .ion-button {
      color: blue !important;
      background-color: #a5dc86 !important;
  }
  $swal2-success:  #a5dc86 !default;
  ion-textarea{
      background-color: lightgoldenrodyellow !important;
  }*/

  .masonry-layout {
    column-count: 3;
    column-gap: 0;
  }
  .masonry-layout__panel {
    break-inside: avoid;
    padding: 5px;
  }
  .masonry-layout__panel-content {
    padding: 10px;
    border-radius: 10px;
  }
}
