page-listado-pedidos-filtrados {
    .hide {
        display: none;
        
      }

      .center_vertically {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    ion-grid{
      background-color: #f8f8f8;
    }
}
