<ion-header>
    <ion-grid>
        <ion-row>
          <ion-col col-2 >
            <div class="center_vertically" (click)="volver()">
                <i class="fas fa-angle-double-left fa-2x"></i>
            </div>
          </ion-col>
    
          <ion-col col-4>
              <div class="center_vertically">
                  
                </div>
    
          </ion-col>
          <ion-col colo-4 text-center>
            <div class="center_vertically" >
             
            </div>
    
          </ion-col>
          <ion-col col-2>
            <div >
            


              <button color="secondary" ion-button small (click)="callWhatsapp()">
                <ion-icon name="logo-whatsapp"></ion-icon>
              </button>
            </div>
    
          </ion-col>
        </ion-row>
      </ion-grid>
  
</ion-header>

<ion-content class="tituloTotal">
  <div padding>
    <ion-segment [(ngModel)]="inicial">
      <ion-segment-button value="encabezado" class="segment-button">
        <strong>Mi Pedido</strong>
      </ion-segment-button>
      <ion-segment-button value="detalle" class="segment-button">
        <strong>Detalle Pedido</strong>
      </ion-segment-button>
    </ion-segment>
  </div>


  <div [ngSwitch]="inicial" padding>
    <form *ngSwitchCase="'encabezado'" >
      <ion-list *ngFor="let item of encabezado">
         <ion-item >
              <h2> <strong>Comercio</strong></h2>
              <h3>{{item.nombreComercio}}</h3>
            
              <h2> <strong>Direccion</strong></h2>
              <h3 text-wrap>{{item.direccion}}</h3>
            
              <h2> <strong>Monto Total</strong></h2>
              <h3>{{item.montoTotal}}</h3>
            
              <h2> <strong>Fecha de Entrega</strong></h2>
              <h3 >{{item.fechaEntrega  | date: 'dd/MM/yyyy'}}</h3>
            </ion-item>

      </ion-list>
    </form>


    <form *ngSwitchCase="'detalle'">

        <div class="nuevo-div">
            <ion-scroll scrollY="true" >
              <ion-list *ngFor="let item of pedido.detallePedido">
                <ion-item >
                    <p><strong> {{item.unidadMedida + ' de ' +item.producto.nombreProducto + ' x ' +item.cantidadPedido + ' Und.'}}</strong></p>
       
                    <p><strong> Precio unitario $ </strong>{{item.producto.precioProveedor}} </p>
                    <p><strong> Sub total $ </strong> {{item.cantidadPedido * item.producto.precioProveedor}}</p>
    
                </ion-item>
    
              </ion-list>
            </ion-scroll>
          </div>
     <!--<ion-scroll  scrollY="true">

        <ion-list *ngFor="let item of ">
          <ion-item>
            <p><strong> {{item.unidadMedida + ' de ' +item.producto.nombreProducto + ' x ' +item.cantidadPedido + ' Und.'}}</strong></p>
       
            <p><strong> Precio unitario $ </strong>{{item.producto.precioProveedor}} </p>
            <p><strong> Sub total $ </strong> {{item.cantidadPedido * item.producto.precioProveedor}}</p>
            
          </ion-item>
        </ion-list>
      </ion-scroll>--> 
    </form>

  </div>

 <ion-grid>
   <ion-row>
     <ion-col text-center> <button ion-button item-end round (click)='aceptar()' [class.hide]="checkAceptar" style="width:135px;">Aceptar</button></ion-col>
     <ion-col ext-center><button ion-button  round (click)='rechazar()' [class.hide]="checkRechazar" style="width:135px;">Rechazar</button></ion-col>
   </ion-row>
 </ion-grid>

</ion-content>
