page-detalle-pedido-proveedor {
    .hide {
        display: none;
      }
    .cerrar{
        height: 25px;
        background-color: transparent;
        color: red;
    }
    .cerrar ion-icon{
        color: red;
    }
}
