<ion-header>

  <ion-grid>
    <ion-row>
      <ion-col col-10>

        <ion-navbar>
          <button ion-button menuToggle class="nuevo-div">
            <ion-icon name="menu"></ion-icon>
          </button>
          <ion-title>Pedidos</ion-title>
        </ion-navbar>
      </ion-col>


      <ion-col col-2>
        <div class="center_vertically" (click)='doRefresh()'>
          <i class="fas fa-sync-alt fa-2x"></i>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content class="nuevo-div">

  <ion-refresher (ionRefresh)="doRefresh($event)" *ngIf="permitirRefresh">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refrescando...">
    </ion-refresher-content>
  </ion-refresher>

  <div padding *ngIf="!pedidoHabilitado">
    <ion-segment [(ngModel)]="inicial">
      <ion-segment-button value="informado" [class.hide]="estadoInformado" class="segment-button">
        <strong>Solicitados</strong>
      </ion-segment-button>
      <ion-segment-button value="aprobado" [class.hide]="estadoAceptado" class="segment-button">
        <strong>Aprobados</strong>
      </ion-segment-button>
      <ion-segment-button value="rechazado" [class.hide]="estadoRechazado" class="segment-button">
        <strong>Rechazados</strong>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div padding>
    <ion-row *ngIf="!pedidoHabilitado">
      <ion-searchbar placeholder="Buscar" animated (ionInput)="buscar($event)"></ion-searchbar>
    </ion-row>
  </div>

  <div [ngSwitch]="inicial" *ngIf="!pedidoHabilitado" >

    <form *ngSwitchCase="'informado'" [class.hide]="estadoInformado" padding>
      <div class="nuevo-div">
        <ion-scroll scrollY="true">
          <ion-list *ngFor="let item of pedidosInformados">
            <ion-item (click)='verDetalle(item)'>

              <p><strong> Comercio </strong> {{item.comercio.entidad.razonSocial}}</p>
              <p><strong> Direccion </strong> {{item.comercio.entidad.domicilio.localidad + ', ' +
                item.comercio.entidad.domicilio.barrio}}</p>
              <p text-wrap><strong> Comentario </strong> {{item.comentario}}</p>
              <p><strong> Fecha de Solicitud</strong> {{item.detallePedido[0].fechaAlta | date: 'dd/MM/yyyy'}}</p>
              <p><strong> Hora de Solicitud </strong> {{item.detallePedido[0].fechaAlta | date: 'hh:mm'}}</p>
              <p><strong> Total </strong> $ {{item.totalPedido }}</p>
            </ion-item>

          </ion-list>
        </ion-scroll>
      </div>
    </form>

    <form *ngSwitchCase="'aprobado'" [class.hide]="estadoAceptado" padding>
      <div class="nuevo-div">
        <ion-scroll scrollY="true">
          <ion-list *ngFor="let item of pedidosAceptados">
            <ion-item (click)='verDetalle(item)'>
              <p><strong> Comercio </strong> {{item.comercio.entidad.razonSocial}}</p>
              <p><strong> Direccion </strong> {{item.comercio.entidad.domicilio.localidad + ', ' +
                item.comercio.entidad.domicilio.barrio}}</p>
              <!--<button ion-button small item-end >Ver</button>-->
              <p><strong> Entrega estimada </strong> {{item.fechaEntrega | date: 'dd/MM/yyyy'}}</p>
              <p><strong> Total </strong> $ {{item.totalPedido }}</p>
            </ion-item>
          </ion-list>
        </ion-scroll>
      </div>
    </form>

    <form *ngSwitchCase="'rechazado'" [class.hide]="estadoRechazado" padding>

      <div class="nuevo-div">
        <ion-scroll scrollY="true">
          <ion-list *ngFor="let item of pedidosRechazados">
            <ion-item (click)='verDetalle(item)'>
              <p><strong> Comercio </strong> {{item.comercio.entidad.razonSocial}}</p>
              <p><strong> Direccion </strong> {{item.comercio.entidad.domicilio.localidad + ', ' +
                item.comercio.entidad.domicilio.barrio}}</p>
              <!--<button ion-button small item-end (click)='verDetalle(item)'>Ver</button>-->
              <p><strong> Entrega estimada</strong> {{item.fechaEntrega | date: 'dd/MM/yyyy'}}</p>
              <p *ngIf="item.comentarioCancelado" text-wrap><strong> Motivo: </strong> {{item.comentarioCancelado}}</p>
              <p><strong> Total </strong> $ {{item.totalPedido }}</p>
            </ion-item>
          </ion-list>
        </ion-scroll>
      </div>
    </form>


  </div>



</ion-content>

<ion-content padding class="nuevo-div" *ngIf="pedidoHabilitado">
  <div>
    <p>Por el momento no posee Pedidos... </p>
  </div>
</ion-content>
