<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Invitaciones</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refrescando...">
    </ion-refresher-content>
  </ion-refresher>

  <div padding>
    <ion-segment [(ngModel)]="inicial">
      <ion-segment-button value="pendiente" [class.hide]="estadoPendiente">
        <strong>Pendientes</strong>
      </ion-segment-button>
      <ion-segment-button value="aceptado" [class.hide]="estadoAceptado">
        <strong>En proceso</strong>
      </ion-segment-button>
      <ion-segment-button value="rechazado" [class.hide]="estadoRechazado">
        <strong>Rechazados</strong>
      </ion-segment-button>
    </ion-segment>
  </div>


  <div [ngSwitch]="inicial">

    <form *ngSwitchCase="'pendiente'" [class.hide]="estadoPendiente">

      <ion-card>
        <ion-card-header text-center>

        </ion-card-header>

        <ion-scroll style="height:400px" scrollY="true">
          <ion-list *ngFor="let item of invitacionesPendientes">
            <ion-item>
              <h2><strong> Comercio </strong> {{item.comercio.entidad.razonSocial}}</h2>
              <h3><strong> Actividad</strong> {{item.comercio.entidad.actividadPrincipal}}</h3>
              <h3><strong> Personeria</strong> {{item.comercio.entidad.tipoPersoneria}}</h3>
              <h3><strong> Cuit</strong> {{item.comercio.entidad.cuit}}</h3>
              <ion-item>
                <button ion-button round (click)='rechazar(item)'>
                  Rechazar
                </button>
                <button ion-button round (click)="aceptar(item)" item-end>
                  Aceptar
                </button>

              </ion-item>


            </ion-item>

          </ion-list>
        </ion-scroll>

      </ion-card>
    </form>

    <form *ngSwitchCase="'aceptado'" [class.hide]="estadoAceptado">

      <ion-card>
        <ion-card-header text-center>

        </ion-card-header>

        <ion-scroll style="height:400px" scrollY="true">
          <ion-list *ngFor="let item of invitacionesAceptadas">
            <ion-item>

              <h2><strong> Comercio </strong> {{item.comercio.entidad.razonSocial}}</h2>
              <h3><strong> Actividad</strong> {{item.comercio.entidad.actividadPrincipal}}</h3>
              <h3><strong> Personeria</strong> {{item.comercio.entidad.tipoPersoneria}}</h3>
              <h3><strong> Cuit</strong> {{item.comercio.entidad.cuit}}</h3>

              <ion-item-divider></ion-item-divider>
            </ion-item>

          </ion-list>
        </ion-scroll>

      </ion-card>
    </form>


    <form *ngSwitchCase="'rechazado'" [class.hide]="estadoRechazado">

      <ion-card>
        <ion-card-header text-center>

        </ion-card-header>

        <ion-scroll style="height:400px" scrollY="true">
          <ion-list *ngFor="let item of invitacionesRechazadas">
            <ion-item>
              <h2><strong> Comercio </strong> {{item.comercio.entidad.razonSocial}}</h2>
              <h3><strong> Actividad</strong> {{item.comercio.entidad.actividadPrincipal}}</h3>
              <h3><strong> Personeria</strong> {{item.comercio.entidad.tipoPersoneria}}</h3>
              <h3><strong> Cuit</strong> {{item.comercio.entidad.cuit}}</h3>
              <ion-item-divider></ion-item-divider>
            </ion-item>

          </ion-list>
        </ion-scroll>

      </ion-card>

    </form>


  </div>
  <!--<ion-card> 
    <ion-item>
      <button ion-button round color="secundary" (click)='volver()' full>
        <ion-icon>Volver</ion-icon>
      </button>
    </ion-item>
  </ion-card>-->

</ion-content>
