<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Invitaciones</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="noContent" *ngIf="!estado">
  <div>
    <p>Lo sentimos, no tienes invitaciones de comercios pendientes, para lograr invitaciones tienes que
      informar a tus puntos de ventas que te agreguen como proveedor en Bitbi</p>
  </div>
</ion-content>

<ion-content padding *ngIf="estado">
  <div padding>
    <ion-segment [(ngModel)]="inicial">
      <ion-segment-button value="pendiente" [class.hide]="estadoPendiente">
        <strong>Pendientes</strong>
      </ion-segment-button>
      <ion-segment-button value="aceptado" [class.hide]="estadoAceptado">
        <strong>En proceso</strong>
      </ion-segment-button>
      <ion-segment-button value="rechazado" [class.hide]="estadoRechazado">
        <strong>Rechazados</strong>
      </ion-segment-button>
    </ion-segment>
  </div>


  <div [ngSwitch]="inicial">

    <form *ngSwitchCase="'pendiente'" [class.hide]="estadoPendiente">

     
        <ion-scroll style="height:400px" scrollY="true">
          <ion-list *ngFor="let item of invitacionesPendientes">
            <div>
              <p><strong> Comercio </strong> {{item.comercio.entidad.razonSocial}}</p>
              <p><strong> Actividad</strong> {{item.comercio.entidad.actividadPrincipal}}</p>
              <p><strong> Direccion </strong> {{item.comercio.entidad.domicilio.localidad + ', ' + item.comercio.entidad.domicilio.barrio}}</p>
              <p><strong> Cuit</strong> {{item.comercio.entidad.cuit}}</p>
              <ion-item>
                <button ion-button round (click)='rechazar(item)'>
                  Rechazar
                </button>
                <button ion-button round (click)="aceptar(item)" item-end>
                  Aceptar
                </button>

              </ion-item>


            </div>

          </ion-list>
        </ion-scroll>

      
    </form>

    <form *ngSwitchCase="'aceptado'" [class.hide]="estadoAceptado">


        <ion-scroll style="height:400px" scrollY="true">
          <ion-list *ngFor="let item of invitacionesAceptadas">
            <ion-item>

              <p><strong> Comercio </strong> {{item.comercio.entidad.razonSocial}}</p>
              <p><strong> Actividad</strong> {{item.comercio.entidad.actividadPrincipal}}</p>
              <p><strong> Direccion </strong> {{item.comercio.entidad.domicilio.localidad + ', ' + item.comercio.entidad.domicilio.barrio}}</p>
              <p><strong> Cuit</strong> {{item.comercio.entidad.cuit}}</p>

              <hr>
            </ion-item>

          </ion-list>
        </ion-scroll>

      
    </form>


    <form *ngSwitchCase="'rechazado'" [class.hide]="estadoRechazado">

      

        <ion-scroll style="height:400px" scrollY="true">
          <ion-list *ngFor="let item of invitacionesRechazadas">
            <div>
              <p><strong> Comercio </strong> {{item.comercio.entidad.razonSocial}}</p>
              <p><strong> Actividad</strong> {{item.comercio.entidad.actividadPrincipal}}</p>
              <p><strong> Direccion </strong> {{item.comercio.entidad.domicilio.localidad + ', ' + item.comercio.entidad.domicilio.barrio}}</p>
              <p><strong> Cuit</strong> {{item.comercio.entidad.cuit}}</p>
              <hr>
            </div>

          </ion-list>
        </ion-scroll>

      

    </form>


  </div>
 

</ion-content>
